<div class="container well well-sm" style="width: 500px; margin: 0 auto; margin-top: 20px">
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
          class="fos_user_change_password">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-danger btn-sm" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"/>
        </div>
    </form>
</div>
